@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --card-aspect: 0.718;
  --card-radius: 4.55% / 3.5%;
  --card-edge: hsl(47, 100%, 78%);
  --card-back: hsl(205, 100%, 25%);
  --card-glow: hsl(175, 100%, 90%);

  --sunpillar-1: hsl(2, 100%, 73%);
  --sunpillar-2: hsl(53, 100%, 69%);
  --sunpillar-3: hsl(93, 100%, 69%);
  --sunpillar-4: hsl(176, 100%, 76%);
  --sunpillar-5: hsl(228, 100%, 74%);
  --sunpillar-6: hsl(283, 100%, 73%);

  --sunpillar-clr-1: var(--sunpillar-1);
  --sunpillar-clr-2: var(--sunpillar-2);
  --sunpillar-clr-3: var(--sunpillar-3);
  --sunpillar-clr-4: var(--sunpillar-4);
  --sunpillar-clr-5: var(--sunpillar-5);
  --sunpillar-clr-6: var(--sunpillar-6);

  --grain: url("/img/grain.webp");
  --glitter: url("/img/glitter.png");
  --glittersize: 25%;

  --space: 5%;
  --angle: 133deg;
  --imgsize: cover;

  --red: #f80e35;
  --yellow: #eedf10;
  --green: #21e985;
  --blue: #0dbde9;
  --violet: #c929f1;

  --clip: inset(9.85% 8% 52.85% 8%);
  --clip-invert: polygon(
    0% 0%,
    100% 0%,
    100% 100%,
    0% 100%,
    0 47.15%,
    91.5% 47.15%,
    91.5% 9.85%,
    8% 9.85%,
    8% 47.15%,
    0 50%
  );

  --clip-stage: polygon(
    91.5% 9.85%,
    57% 9.85%,
    54% 12%,
    17% 12%,
    16% 14%,
    12% 16%,
    8% 16%,
    8% 47.15%,
    92% 47.15%
  );
  --clip-stage-invert: polygon(
    0% 0%,
    100% 0%,
    100% 100%,
    0% 100%,
    0 47.15%,
    91.5% 47.15%,
    91.5% 9.85%,
    57% 9.85%,
    54% 12%,
    17% 12%,
    16% 14%,
    12% 16%,
    8% 16%,
    8% 47.15%,
    0 50%
  );

  --clip-trainer: inset(14.5% 8.5% 48.2% 8.5%);
  --clip-borders: inset(2.8% 4% round 2.55% / 1.5%);
}

* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
